<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/graphics"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Elevación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="showMapp()">
    showMap()
  </ion-button>

  <ion-card>
    <img src="../../../../../../../assets/images/telecom-towers.png" />
    <ion-card-header>
      <ion-card-subtitle>Perfil de elevación</ion-card-subtitle>
      <ion-card-title>Enlaces de microondas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Un perfil de elevaciones es una herramienta utilizada para diferenciar alturas, 
      porcentajes de pendientes, medir segmentos de una ruta, una montaña, la cuenca de un río, etc.
    </ion-card-content>
  </ion-card>
  
  <!-- <button (click)="showObstructions()">
  showObstructions()
</button> -->

  <ion-row class="cellphone-width justify-content-center align-items-center">
    <ion-col>
      <app-global-map class="map-container" 
                      *ngIf="homeService.showMap"></app-global-map>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Puntos seleccionados:</ion-card-title>
    </ion-card-header>
    <ion-grid>
  
      <ion-row class="ion-padding pt-0px">
        <ion-col>
          <h3>
            <ion-badge slot="start">Punto N°1:</ion-badge>
            
            <span>
              Latitud: {{settingsService.initialPoint.lat}} - Longitud: {{settingsService.initialPoint.lng}}
            </span>
          </h3>
        </ion-col>
        <ion-col>
          <h3>
            <ion-badge slot="start">Punto N°2:</ion-badge>
            <span>
              Latitud: {{settingsService.finalPoint.lat}} - Longitud: {{settingsService.finalPoint.lng}}
            </span>
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-button (click)="generateElevationGraph()">
    Generar Gráfica
  </ion-button>

  <ion-card class="ion-padding">

    <ng-container *ngIf="elevationGraph; else noElevationGraphic"
                  class="graph-container">
      
      <plotly-plot [data]="elevationData.data" [layout]="elevationData.layout" [useResizeHandler]="true"
        [style]="{position: 'relative', width: '100%', height: '100%'}">
      </plotly-plot>

    </ng-container>
    <ng-template #noElevationGraphic>

      <ion-card-subtitle>Generar gráfica</ion-card-subtitle>
      <ion-card-title>Procedimiento:</ion-card-title>

      <ion-card-content>
        <ul>
          <li>
            <p class="fs-20">
              1.- Selecciona los dos puntos en el mapa donde quieres graficar el
              perfil de elevación.
            </p>
          </li>
          <li>
            <p class="fs-20">
              2.- Seleccionados los puntos, presiona el botón "Generar gráfica"
              para obtener mostrar el gráfico.
            </p>
          </li>
        </ul>
      </ion-card-content>      
    </ng-template>

  </ion-card>

  <ion-card *ngIf="elevationGraph">
    <ion-card-header>
      <ion-card-title>Puntos de obstrucción:</ion-card-title>
    </ion-card-header>
    <ion-grid>
  
      <ion-row class="ion-padding pt-0px"
               *ngFor="let obstructionPoint of obstructionFieldPoints; let i=index">
        <ion-col>
          <h3>
            <ion-badge slot="start">N°{{i + 1}}:</ion-badge>
            <span>
              Distancia: {{obstructionPoint.distance}} Km (aprox.) ; Lat: {{obstructionPoint.lat}} - Lng: {{obstructionPoint.lng}}
            </span>
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>