<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-menu side="end" type="push" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Punteros</ion-item>
      <ion-item>Informacion de antenas</ion-item>
      <ion-item>Informacion de potencia</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
