<ion-header>
  <ion-toolbar>
    <ion-title>Sistema de Analisis de Radioenlaces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-margin">
    <ion-card-header>
      <ion-card-title>Inicio de Sesión</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
  
      <form [formGroup]="signInForm">

          <ion-input fill="outline"
                     formControlName="email"
                     labelPlacement="floating" 
                     label="Correo"
                     placeholder="Ingresa correo"
                     class="mb-10px"></ion-input>
    
          <ion-input fill="outline" 
                     formControlName="password"
                     labelPlacement="floating" 
                     label="Contraseña"
                     placeholder="Ingresa contraseña"></ion-input>
        
      </form>

      <ion-item>
        <a routerLink="/forgot-password"
           class="forgot-link">
          ¿Olvidaste Contraseña?
        </a>
      </ion-item>

      
  
      <ion-button expand="block"
                  (click)="login()">
        Entrar
      </ion-button>
  
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin">

    <ion-card-content class="ion-justify-content-center ion-align-items-center text-center">
      ¿No tienes cuenta? 
      <a routerLink="/register-user"
         class="forgot-link">
        Regístrate
      </a>
    </ion-card-content>

  </ion-card>

</ion-content>

<ion-footer class="ion-padding" class="ion-justify-content-center ion-align-items-center text-center">
  <p>
    Universidad de Carabobo {{year}}
  </p>
</ion-footer>
