<ion-header>
  <ion-toolbar>
    <ion-title>map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="map"></div>
  <ion-fab vertical="bottom" 
           horizontal="end" 
           slot="fixed">
    <ion-fab-button *ngIf="createMaker">
      <ion-icon name="navigate-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button class="left-min-50px" 
                  color="primary"
                  (click)="linkConfiguration()">Configuración de enlace</ion-button>

      <ion-button class="left-min-50px" 
                  color="primary"
                  (click)="openConfiguration()">Configuracion</ion-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
