
<ion-tabs (ionTabsWillChange)="onTabWillChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="graphics">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Gráficos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="power-budget">
      <ion-icon name="flash-outline"></ion-icon>
      <ion-label>Potencia</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- <ion-content>

  <ion-router-outlet></ion-router-outlet>

  <ion-footer>
    <ion-buttons>
      <ion-button (click)="navMap()">
        Mapa
      </ion-button>
    
      <ion-button (click)="navGraphics()">
        Gráficos
      </ion-button>
    
      <ion-button (click)="navPower()">
        Potencia
      </ion-button>
    </ion-buttons>
  </ion-footer>
  
</ion-content> -->
