<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="graphics">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Gráficos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compass">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Brújula</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>